<!DOCTYPE html>
<html>
<head>
    <title>People Counting and Tracking</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <h1>PEOPLE COUNTING AND TRACKING SYSTEM</h1>

    <div id="project-description">
        <h2>About the Project</h2>
        <div class="width">
            <p>
                This web application uses object tracking to detect and track people in a video stream.
                The application utilizes OpenCV, dlib, and MobileNet SSD to perform real-time object detection
                and tracking. The tracked objects are displayed on the video stream, and the number of objects
                moving up and down is counted and shown on the screen. d.	This solution can be implemented in
                a variety of cases such as in classrooms, theatres, open halls for counting the number of people
                present there. It can also be used for security surveillance, crowd management, optimize traffic flow, etc.
            </p>
        </div>
    </div>
    <br><hr><br><br><br>

    <div>
        <form action="/video" method="post" enctype="multipart/form-data" >
            <input type="file" name="videoFile" id="videoFile" accept="video/*" required>
            <br><br>
            <input type="submit" value="Upload">
        </form>
    </div>

</body>
</html>